services:
  student-db:
    image: postgres:15-alpine
    container_name: student_postgres
    environment:
      POSTGRES_USER: ${STUDENT_POSTGRES_USER}
      POSTGRES_PASSWORD: ${STUDENT_POSTGRES_PASSWORD}
      POSTGRES_DB: ${STUDENT_POSTGRES_DB}
    ports:
      - "${STUDENT_DB_PORT}:5432"
    volumes:
      - student_postgres_data:/var/lib/postgresql/data
      - ./docker-init:/docker-entrypoint-initdb.d

  school-db:
    image: postgres:15-alpine
    container_name: school_postgres
    environment:
      POSTGRES_USER: ${SCHOOL_POSTGRES_USER}
      POSTGRES_PASSWORD: ${SCHOOL_POSTGRES_PASSWORD}
      POSTGRES_DB: ${SCHOOL_POSTGRES_DB}
    ports:
      - "${SCHOOL_DB_PORT}:5432"
    volumes:
      - school_postgres_data:/var/lib/postgresql/data
      - ./docker-init:/docker-entrypoint-initdb.d

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_log:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "9090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181

volumes:
  student_postgres_data:
  school_postgres_data:
  zookeeper_data:
  zookeeper_log:
  kafka_data: